apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: navaar-data
  namespace: navaar
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 256Mi
