apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: navaar
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/aminsaedi/navaar.git
    targetRevision: main
    path: deploy/k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: navaar
  ignoreDifferences:
    - group: ""
      kind: Secret
      name: navaar-secrets
      jsonPointers:
        - /data
        - /stringData
  syncPolicy:
    automated:
      allowEmpty: false
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
      limit: 5
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - RespectIgnoreDifferences=true
